<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="admin-users-nav" >
  <div class="inner" >
    <ul class="sidenav" >
      <li>
          <a href="/#admin/users/groupsManagement" class="admin-users-groups-mgt"><span>{{nls.userGroups}}</span></a>
      </li>
      <li>
          <a href="/#admin/users/usersManagement" class="admin-users-users-mgt"><span>{{nls.users}}</span></a>
      </li>
      <li>
          <a href="/#admin/users/accountingManagement" class="admin-users-accounting-mgt"><span>{{nls.accounting}}</span></a>
      </li>
    </ul>
  </div>
</div>
<div class="admin-users-main" id="admin-users-container" >
</div>