<!--
/*
 * © Copyright Lenovo 2015.
 *
 * LIMITED AND RESTRICTED RIGHTS NOTICE:
 *
 * If data or software is delivered pursuant a General Services Administration
 * "GSA" contract, use, reproduction, or disclosure is subject to
 * restrictions set forth in Contract No. GS-35F-05925.
*/
-->
<div class="col-lg-2 col-md-6 ui-submitjob-wrapper" id="martinWithYou_3">
  <div class="ui-dashboard-submitjob" id="job_submit_start">
    <div class="ui-plus"><i class="fa fa-plus ui-plus-icon" style="font-size:5em;"></i></div>
    <div class="ui-plus-text">{{nls.submitJob}}</div>
  </div>
</div>
<!--
<div class="col-lg-1 col-md-3">
<svg height="237" width="100" style="float:left">
  <line x1="80" y1="0" x2="80" y2="237" style="stroke:rgb(200,200,200);stroke-width:1" />
</svg>
</div>
-->
<div class="col-lg-3 col-md-6" >
	<div class="banner-slider" >
		<div style="width:15px;">
			<a href="#" class="sliding-window-prev"></a>
		</div>
		<div id="sliding-window-container1" class="sliding-window-container" >
			<div class="sliding-window" >
			</div>
		</div>
		<div style="width:15px;">
			<a href="#" class="sliding-window-next"></a>
		</div>
	</div>
</div>
<div class="col-lg-2 col-md-6 resource-container"  id="martinWithYou_1">
	<div class="banner-slider">
		<div id="io-window-container1" class="io-window-container"></div>
	</div>
</div>
<div class="col-lg-5 col-md-6 resource-container"  id="martinWithYou_2">
	<div id="clusterCPU-holder" class="resource-holder" style="width:19.35%;"></div>
	<div id="clusterMemory-holder" class="resource-holder" style="width:19.35%;"></div>
	<div id="storage-holder" class="resource-holder" style="width:19.35%;"></div>
</div>