<div class="groups-group-content">
	<div class="group-title">
		<div class="group-title-tab active" id="group_list">{{nls.group_list}}</div>
		<div class="group-title-tab" id="tendency">{{nls.tendency}}</div>
		<div class="group-title-tab" id="heat">{{nls.heat}}</div>
	</div>

	<div class="group-body" id="group_body">
	</div>
</div>


